<VirtualHost *:80>
        ServerName mi24.local
        ServerAdmin webmaster@localhost
        DocumentRoot /vagrant/web

        <Directory /vagrant/web>
                AllowOverride All
                Require all granted
        </Directory>

</VirtualHost>